
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rampart+One&display=swap');

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins-medium' , sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    height: 100%;
    font-family: 'Poppins-medium' , sans-serif;
    font-weight: 400;
    font-style: normal;
}

.left-panel, .middle-panel, .right-panel {
    flex: 1;
    height: 100%;
}

.left-panel {
    background-color:#EE4266; /* Adjust as needed */
}

.middle-panel {
    background-color:#5FBDFF; /* Adjust as needed */
}

.right-panel {
    background-color:#711DB0; /* Adjust as needed */
}

.Fire{
    background-color:burlywood;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    text-transform: uppercase;
    color: firebrick;
    border-radius: 30px;
    cursor: pointer;
    box-shadow:  2px 2px 10px ;
    margin-top: 260px;
    margin-left: 160px;
    transition: all .55s ease;
}

.Health{
    background-color:burlywood;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    text-transform: uppercase;
    color: firebrick;
    border-radius: 30px;
    cursor: pointer;
    box-shadow:  2px 2px 10px ;
    margin-top: 260px;
    margin-left: 160px;
    transition: all .55s ease;
}

.Police{
    background-color:burlywood;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    text-transform: uppercase;
    color: firebrick;
    border-radius: 30px;
    cursor: pointer;
    box-shadow:  2px 2px 10px ;
    margin-top: 260px;
    margin-left: 160px;
    transition: all .55s ease;
}

.Fire:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.Health:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.Police:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}